.App {
    text-align: center;
}
  
  .App-logo {
    width: 220px;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .App-container {
    align-items: center;
    justify-content: center;
  }

  .App-header {
    text-align: center;
    min-height: 10vh;
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    color: #64bc4c;
  }
  
  .App-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .App-link {
    color: #000080;
  }
  